body{
    background-color: black;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .container h1{
    color: grey;
  }
  .form-group{
    color: grey;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #2c5a2d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  